@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body {
    background-color: #fff !important;
}

.header{
    background-image: linear-gradient(to right, #0086D6 15%, #1aa5f9, #3baef3);
    border-color: transparent !important;
}

.pie-pagina{
    min-height: 60px;
    background-color: #fff !important;
    background-repeat: repeat-y !important;
}

p,i,span,h1,h2,h3,h4,h5,h6,li,label,input,select{
    font-family: 'Roboto',sans-serif;
    font-weight: 100 !important;
    /*color: #333333 !important;*/
}

.titulo_principal{
    font-size: x-large;
    border-bottom: 1px solid #a0a0a0;
}

.titulo_secundario{
    font-size: large;
}

textarea{
    max-width: 100% !important;
}

.contenedor-opciones-vista{
    position: absolute;
    z-index: 10;
    width: 50px;
    min-height: 100px;
    left: 5%;
}

.contenedor-opciones-vista-fixed{
    position: fixed;
    top: 20px;
}

@media (max-width: 1100px) {
    .contenedor-opciones-vista{
        left: 0%;
    }
}

.dropdown .no-color-focus:focus{
    background-color: transparent !important;
}